{% extends 'layout.html.twig' %}


{% block main_container %}
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <p>Currently tracking : <span id="current-sat">ISS</span></p>
        </div>
        <div id="map" class="col-md-10 col-md-offset-1"></div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled" id="sat-list">
                <li data-idsat="iss" data-way="1">ISS</li>
                <li data-idsat="aim" data-way="0">AIM</li>
                <li data-idsat="fast" data-way="0">Fast</li>
            </ul>
        </div>
    </div>
{% endblock %}
