<!DOCTYPE html>
<html>
    <head>
        <link href="{{ app.request.basepath }}/public/styles/layout.css" rel="stylesheet" media="screen">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <h1 class="col-md-12">Follow Sat</h1>
            </div>

            {% block main_container %}

            {% endblock %}

            <div id="footer"></div>
        </div>

        <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYOgoKO_QD7cFxGwfqenxkch9SZlU59bU&sensor=false">
    </script>

        {% if app.debug %}
            <script src="{{ app.request.basepath }}/public/js/lib/main.js"></script>
            <script src="http://localhost:35729/livereload.js"></script>
        {% else %}
            <script src="{{ app.request.basepath }}/public/js/build/main.min.js"></script>
        {%endif %}
    </body>
</html>
